
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DBD4D4;
    width: 95%;
}
/* Add this to your existing CSS */

html{
    scroll-behavior: smooth;
}

.spamshield .vector-4 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 5.4px 14px 12.2px 0;
    width: 36px;
    height: 39.5px;
}

.spamshield {
    padding-top: 180px;
    /* Height of the navigation bar */
}



.spamshield .navigation-bar {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21.5px 65px 4.9px 16px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    animation: slideDown 0.5s ease-in-out;
}

/* Navbar styles */
.navbar {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
   
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #fdfdfd;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.tools-1,.blog-1,.contact-1{
 margin-left:50px;

}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #e0d7d7;
        flex-direction: column;
    }

    .nav-links a {
        padding: 15px;
        width: 100%;
        text-align: center;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .active {
        display: flex;
    }
}



/* Default styles for navigation */
.spamshield .container-4 {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 635.6px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
    height: fit-content;
    color: black;
    animation: fadeInUp 0.5s ease-in-out;
}

  
  /* Styles for small screens */
  @media screen and (max-width: 768px) {
    .container-4 {
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #f9f9f9;
      width: 100%;
      padding: 10px 0;
      display: none; /* Hide by default */
    }
    
    .container-4 a {
      padding: 10px 0;
      text-align: center;
      width: 100%;
      border-bottom: 1px solid #ccc;
    }
  
    .container-4.show {
      display: flex; /* Show when .show class is added */
    }
  }
  
 

/* Home media */
@media only screen and (max-width: 768px) {
    #home-section, #tools-section, #blog-section, #contact-section {
        width: 30%;
     }
  
     /* Example for images */
     img {
        max-width: 100%;
        height: auto;
     }
  
     /* Example for buttons */
     button {
        width: 100%;
     }
  }
  
  
.spamshield .spam-shield {
    border: 1px solid #FFF7F7;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    color: #121125;
    animation: fadeIn 1s ease-in-out;
}

.spamshield .container-6 {
    margin-bottom: 55.6px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    animation: fadeIn 1s ease-in-out;
}

.spamshield .container-4 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 635.6px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
    height: fit-content;
    color: black;
    animation: fadeInUp 0.5s ease-in-out;
}

.spamshield .container-4 a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.spamshield .container-4 a:hover {
    color: rgb(118, 118, 237);
    animation: colorChange 0.3s ease-in-out;
}

.spamshield .container-4 a:active {
    text-decoration: underline;
    color: #000000;
}




/* CSS */
 /* .trynowBtn {
  align-items: center;
   background-image: linear-gradient(144deg,#7f00ff, #e100ff 50%,#dabddc); 
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}  */
/* CSS */
.trynowBtn{
  align-items: center;
  background-image: linear-gradient(144deg,#6C63FF, #797df4 50%,#6949dd);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 0.7em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.trynowBtn:active,
.trynowBtn:hover {
  outline: 0;
}

.trynowBtn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.trynowBtn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .trynowBtn {
    font-size: 24px;
    min-width: 196px;
  }
}

.icon-right {
    margin-left: 20px; /* Adjust this value to move the icon to the right */
  }

.spamshield .undraw-inbox-cleanup-re-jcbh-1 {
    margin-right: 37px;
    width: 360px;
    height: 284px;
    animation: fadeInRight 1s ease-in-out;
}

.spamshield .protect-yourself-from-phishing-attacks {
    margin-bottom: 21px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
    color: #000000;
    animation: fadeIn 1s ease-in-out;
}

  

  /* The typing text */
  .typing-text {
     display: inline-block; 
    animation: typing 5s steps(30) 1s 1 normal both, blink 0.75s step-end infinite;
    white-space: nowrap; 
    overflow: hidden; 
    font-size: 30px;
    font-weight: bold;
    color: #6C63FF;
    
  }

  /* Typing animation */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 150%;
    }
  }

  /* Blinking cursor */
  @keyframes blink {
    50% {
      border-right-color: transparent;
    }
  }

  /* Blinking cursor styling */
  .typing-text::after {
    /* position: absolute; */
    right: 0;
    color: #6C63FF;
    font-weight: bold;
    animation: blink 2s step-start infinite;
  }

.protect-yourself-from-phishing-attacks-sub3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    line-height: 1.333;
    color: #000000;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out;
}

.spamshield .quickly-and-easily-check-emails-sms-and-websites-for-phishing-risks {
    margin-left: 24.4px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    animation: fadeIn 1s ease-in-out;
}
.spamshield .container-1 {
    margin-bottom: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    animation: fadeIn 1s ease-in-out;
}

.spamshield .introduction {
    margin: 0 65.1px 53px 34px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    animation: fadeInUp 1s ease-in-out;
}

.spamshield .what-we-do-1 {
    margin: 0 148px 24px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    margin-left: 100px;
    animation: fadeInRight 1s ease-in-out;
}

.spamshield .in-todays-digital-world-phishing-attacks-are-becoming-increasingly-sophisticated-and-prevalent-our-platform-helps-you-stay-safe-by-providing-aquick-and-reliable-way-to-check-emails-sms-messages-and-websites-for-phishing-threats-whether-youre-aconcerned-individual-or-abusiness-looking-to-protect-your-assets-weve-got-you-covered {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    animation: fadeIn 1s ease-in-out;
}

.spamshield .container-8 {
    margin: 0 142.3px 38px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    animation: fadeIn 1s ease-in-out;
}

.spamshield .undraw-email-capture-re-b-5-ys-1 {
    width: 327px;
    height: 325px;
    margin-top: -60px;
    animation: fadeInUp 1s ease-in-out;
}

.spamshield .what-we-do {
    margin: 0 46px 0 45.3px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    animation: fadeInRight 1s ease-in-out;
}

.spamshield .home {
    background: #DBD4D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 41px;
    width: fit-content;
    box-sizing: border-box;
    animation: fadeIn 1s ease-in-out;
}

.spamshield .how-it-works {
    margin: 0 120.1px 40.2px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 50px;
    margin-top: 100px;
    animation: fadeInUp 1s ease-in-out;
}

.spamshield .container-10 {
    margin-top: -200px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    margin-bottom: 80px;
  }
  
  .spamshield .how-it-works-1 {
    margin: 0 9px 26px 9px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    color: #000000;
    animation: slideInFromLeft 1s ease-out;
  }
  
  .spamshield .container {
    margin: 0 12.9px 17.5px 3.3px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  
  }
  
  .spamshield .vector-88 {
    margin: 12.4px 18.9px 44.2px 0;
    width: 18.5px;
    height: 27.3px;
    margin-top: 5px;
  
  }
  
  .spamshield .enter-the-email-sms-content-or-website-url-you-want-to-check {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    animation: slideInFromBottom 1s ease-out;
  }
  
  .spamshield .group-3 {
    margin: 0 46.6px 23.3px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    margin-top: -40px;
  }
  
  .spamshield .vector-89 {
    margin: 12.4px 18.9px 44.2px 0;
    width: 18.5px;
    height: 27.3px;
    margin-top: 5px;
  
  }
  
  .spamshield .our-advanced-algorithms-and-extensive-database-scan-for-known-phishing-indicators {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
  }
  
  .spamshield .group-4 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    margin-top: -15px;
  }
  
  .spamshield .vector-90 {
    margin: 12.8px 20.5px 43.8px 0;
    width: 18.5px;
    height: 27.3px;
    margin-top: 5px;
  }
  
  .spamshield .instantly-receive-adetailed-report-with-the-threat-level-and-recommended-actions {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
  }
  
  
  .spamshield .undraw-arrived-re-t-2-bw-1 {
    margin-top: 90px;
    width: 327px;
    height: 325px;
  }
  
  .spamshield .check-it-out-1 {
    margin: 0 9px 75px 9px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  
  .spamshield .check-it-out {
    margin-left: 50px;
    margin-top: -50px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
    color: #000000;
  }
  
  .spamshield .vector-87 {
    margin-top: 4px;
    width: 55px;
    height: 50px;
    margin-left: 10px;
    margin-top: -50px;
  }
  
  .spamshield .decider-buttons {
    /* margin-right: 27px; */
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 1077px;
    box-sizing: border-box;
  }
  
  .spamshield .container-7 {
    /* border-radius: 50px;  */
    position: relative;
    display: flex;
    /* padding: 6px 29.6px 0 29.6px;
     width: 440px;
     height:50px; */
    /* justify-content: space-between; */
  }
  
  .spamshield .emailbtn {
    border-radius: 50px;
    width: 500px;
    height: 50px;
    font-size: 22px;
    color: #ffffff;
    background-color: #8882F9;
  }

  .emailbtn:hover{
    background-color:#6963e4;
  }
  
  .spamshield .websitebtn {
    border-radius: 50px;
    width: 500px;
    height: 50px;
    font-size: 22px;
    color: #ffffff;
    background-color: #8882F9;
    margin-right: 50px;
  }

  .websitebtn:hover{
    background-color:#6963e4;
  }
.spamshield .tools {
    background: #DBD4D4;
    display: flex;
    flex-direction: column;
    padding: 205px 65px 152px 91px;
    width: fit-content;
    box-sizing: border-box;
}

.spamshield .email-sms-spam-detection {
    background: #DBD4D4;
    position: relative;
    width: 1440px;
    height: 1024px;
}

.spamshield .undraw-personal-text-re-vqj-31 {
    position: absolute;
    left: 34px;
    top: 63px;
    width: 375px;
    height: 353px;
}

.spamshield .container-5 {
    position: absolute;
    right: -5px;
    bottom: 0px;
    width: 1234px;
    height: 823px;
    box-sizing: border-box;
    margin-right: 70px;
}

.spamshield .container-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.spamshield .email-sms-spam-detection-1 {
    margin: 0 0 54px 20.5px;
    /* display: inline-block; */
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    color: #6C63FF;
  margin-left:500px;
  margin-top:100px;
}

.spamshield .main-box {
    border-radius: 25px;
    background: #FFF7F7;
            position: absolute;
           
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 18px 29px 18px;
    width: fit-content;
    box-sizing: border-box;
}

.spamshield .enter-your-email-sms {
    margin-bottom: 9px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.spamshield .rectangle-7 {
    background: #D9D9D9;
    margin: 0 37px 56px 3px;
    width: 958px;
    height: 315px;
}

textarea {
    width: 100%;
    /* Use 100% width */
    height: 350px;
    /* Set the height to 200 pixels */
    padding: 8px;
    /* Add some padding for better appearance */
    box-sizing: border-box;
    border-radius: 25px;
}
.spamshield .main-box-1 textarea {
    height: 170px;
}


.checkBtn,.check1Btn {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background-color: #8882F9;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkBtn:hover,.check1Btn:hover{
    background-color:#6963e4 ;
}

.result-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
}

.spamshield .rectangle-139,.rectangle-1391 {
    border-radius: 25px;
    background: #ccbaf0;
    width: 637px;
    height: 66px;
}


.spamshield .undraw-letter-re-8-m-031 {
    position: absolute;
    right: -50px;
    bottom: 200px;
    width: 373px;
    height: 386px;
    animation-fill-mode: forwards;
}

.spamshield .undraw-personal-text-re-vqj-31 {
  animation-name: slideInFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.spamshield .website-spam-detection {
    background: #DBD4D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 191px 0 70px 0;
    width: 1440px;
    box-sizing: border-box;
    margin-top: -100px;
   
 
}

.spamshield .website-spam-detection-2 {
    margin: 0 82.3px 15px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    color: #6C63FF;
    margin-top: -100px;
   
}

.spamshield .undraw-online-ad-re-ol-621 {
    margin: 0 51px 52px 0;
    width: 355px;
    height: 197px;
}

.spamshield .main-box-1 {
    border-radius: 25px;
    background: #FFF7F7;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 36px 30px 36px;
    width: fit-content;
    box-sizing: border-box;
}

.spamshield .enter-website-url {
    margin-bottom: 31px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.spamshield .rectangle-71 {
    background: #D9D9D9;
    margin: 0 2px 69px 2px;
    width: 958px;
    height: 99px;
}

.spamshield .group-12 {
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 1px solid #000000;
    background: #8882F9;
    position: relative;
    margin: 0 58px 39px 0;
    display: flex;
    padding: 5px 1.4px 5px 0;
    width: 144px;
    box-sizing: border-box;
}

.spamshield .check-1 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    color: #FFF4F4;
    margin-left: 30px;
}

.spamshield .blog {
    background: #DBD4D4;
    display: flex;
    flex-direction: column;
    padding: 158px 35px 28px 12px;
    width: fit-content;
    box-sizing: border-box;
    margin-left: 70px;
    margin-top: -80px;
}

.spamshield .stay-inform {
    margin: 0 4px 44px 4px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.spamshield .stay-informed {
    margin-bottom: 11px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
    color: #000000;
    margin-left: 10px;
}

.stay-informed {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    line-height: 1.333;
    color: #6C63FF;
}

.spamshield .check-out-our-blog-for-the-latest-newstips-and-guides-on-phishing-prevention-and-cybersecurity-best-practices {
    margin-left: 13px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}

.spamshield .group-47 {
    border-radius: 25px;
    background: #FFFBFB;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 51px 30px 35px 17px;
    width: 1393px;
    box-sizing: border-box;
}

.spamshield .container-9 {
    margin: 0 15.7px 32px 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1302.3px;
    box-sizing: border-box;
}

.spamshield .container-9 img{
    margin-top:14px;
}
.spamshield .top-10-phishing-scams-to-watch-out-for-in-2024 {
    margin-right: 36px;
    width: 466px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    text-decoration-line: underline;
    color: #000000;
}

.spamshield .how-to-recognize-and-avoid-phishing-emails {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    text-decoration-line: underline;
    color: #000000;
    margin-right: 200px;
}

.spamshield .the-rise-of-sms-phishing-what-you-need-to-know {
    margin-right: 0px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    text-decoration-line: underline;
    color: #000000;
}

.spamshield .container-3 {
    display: flex;
    flex-direction: row;
    column-gap: 130px;
    width: 1346px;
    box-sizing: border-box;
}


.spamshield .footer {
    background: #8882F9;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 21px 77.2px 29px 23px;
    width: 110%;
    height: 400px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
}

.spamshield .contact {
    margin-top: -10px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    text-align: right;
    margin-left: 60px;
}

.contact p{
    margin-left:90px;
}

.qform {
    
    display: flex;
    flex-direction: row;
     margin-left:200px;
}
.labels{
    width:230px;
    display: flex;
    flex-direction: column;
   
    /* margin-right:-60px; */
}
.labels input{
    border-radius: 25px;
}

.message{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 150px;
}

.message textarea{
    margin-bottom:70px;
    height:150px;
    width:350px;
}

.message button{
    margin-top:150px;
    margin-left:-230px;
}

.social {
    display: flex;
     align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    margin-left:650px;
}
.social .email{
    margin-right:3px;
}

.social .phone-1
 {
    margin-left:5px;
}


.contact-vector{
    width:500px;
    height:400px;
    margin-left:1000px;
    margin-top: -250px;
    
}


/* Adjust the input fields */
#queryForm input[type="text"],
#queryForm input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Style the submit button */
#queryForm button {
    padding: 10px 20px;
    background-color: #4CAF50;
    /* Green background */
    color: white;
    /* White text */
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#queryForm button:hover {
    background-color: #45a049;
    /* Darker green */
}

.spamshield .vector {
    margin: 6px 12px 7px 0;
    width: 30px;
    height: 30px;
}

.spamshield .email {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.spamshield .email {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}


.spamshield .vector-2 {
    margin: 6px 11px 7px 0;
    width: 30px;
    height: 30px;
}

.spamshield .phone {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.spamshield .phone-1 {
    margin: 3px 0 2px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.spamshield .vector-3 {
    margin: 5px 12px 8px 0;
    width: 30px;
    height: 30px;
}

.spamshield .linked-in {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.spamshield .linkedin {
    margin: 4px 0 1px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.spamshield {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    box-sizing: border-box;
    /* margin-left: 700px; */
}

